.btn{
    width: 50px;
    height: 50px;
    outline: 0;
    border: 0;
    cursor: pointer;  
    font-weight: 300;
    font-size: 20px;
}

.btn:hover{
    background-color: gray;
    outline: 0;
    border: 0;
}

.btnOpe{
    background-color: aquamarine;
}