.inputPadrao{
    padding: 10px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 206px;
    height: 48px;
    text-align: right;
    border: 0;
    outline: 0;
    overflow: hidden;
}

.mini{
    padding: 10px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 206px;
    height: 28px;
    text-align: right;
    border: 0;
    outline: 0;
    overflow: hidden;
    margin-top: 2px
}